name: flutter_hylid_bridge
description: "A Flutter wrapper plugin around Hylid bridge."
version: 0.0.1
homepage: https://github.com/hanialkhaffaf/hylid_flutter_sdk

environment:
   sdk: '>=3.0.0 <4.0.0'
   flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      web:
